@import '../../style/variables';

.prescription {

    & h1 {
        color: $grey;
        text-align: center;
        margin-bottom: 40px;
    }

    margin: 30px 50px;
    display: flex;
    flex-direction: column;

    & form {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        column-gap: 24px;

        &>* {
            border: $light-grey solid 1px;
            border-radius: 20px;
            width: 100%;
            text-align: center;
        }
    }

    &__doc,
    &__patient,
    &__medicationsList,
    &__resume {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        padding: 20px;

        & input,
        & select {
            border: grey solid 1px;
            padding: 10px 20px;
            border-radius: 10px;
            width: 60%;
            display: block;
            margin: 0 auto;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            position: relative;
            cursor: text;
            color: $grey;
            font-size: 13px;

            &::placeholder {
                color: $grey;
            }

            &:focus {
                outline: $primary-color 2px solid;
                border: transparent 2px solid;
                color: $primary-color;
            }
        }



        & select {
            cursor: pointer;
        }

        & h2 {
            margin-bottom: 30px;
            color: $primary-color;
        }
    }

    &__resume {

        & ul {
            padding: 0px;
            list-style: none;
            margin: 20px;

            &>* {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.edit,
.remove {
    border: none;
    background-color: transparent;
    color: $primary-color;
    font-size: 24px;
    cursor: pointer;
}