@import '../../style/variables';

.button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    text-transform: uppercase;
    border: none;
    font-weight: 500;
    cursor: pointer;
    max-width: -moz-fit-content;
    max-width: fit-content;
    text-align: center;
    font-weight: 600;
    margin: 20px 0;

    &.primary {
        background: $primary-color;
        color: white;
    }

    &.secondary {
        border: $primary-color 2px solid;
        color: $primary-color;
        background-color: transparent;
    }

    &.svg {
        border: none;
        background-color: transparent;
        color: $primary-color;
        font-size: 24px;
        cursor: pointer;
    }
}